p {
    position: absolute;
    width: 144.35px;
    height: 17.63px;
    
    
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-transform: capitalize;
    
    
    color: #000000;
    
  }

  p.main_desc{    
    position: absolute;
    width: 144.35px;
    height: 17.63px;
    
    
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 18px;
    text-transform: capitalize;
    
    color: #000000;
    white-space: nowrap;
  }
  h1 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #55BDB3;
    position: absolute;
    width: 457px;
    height: 150px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }


  QuickCategory_businessAWrap__2KBYq {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  QuickCategoryItem_businessItemA__2FVma {
    text-align: center;
    margin: 10px;
  }
/*   
  image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px; /* Adjust the height as needed */
 


  
  QuickCategoryItem_title__2JksB {
    margin-top: 5px;
  }
  
  
  
  
  p.QuickCategoryItem_title__2JksB {
    text-align: left;
    position: absolute;
    width: 86px;
    height: 28px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 28px;
    text-align: center;
    color: #000000;
    white-space: nowrap;
  }

  /* image-container img {
    width: 256px;
    height: 256px;
  } */

  item-container {
    width: 200px; /* Adjust the width to your desired size */
    height: 150px; /* Adjust the height to your desired size */
    border: 1px solid black; /* Add border styles if desired */
    padding: 10px; /* Add padding around the content */
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Align items vertically */
    justify-content: center; /* Align items horizontally */
    flex-direction: column; /* Stack the items vertically */
  }
  
  item-container img {
    max-width: 100%;
    max-height: 100%; }


.wrapper {
      color: #FFFFFF; 
      background: #FFFFFF;
      max-width: 600px;
      width: 100%;
      height: 250px;
  
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 auto;  }
.button-container {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
      }
    
#recommendationButton {
        width: 200px;
        height: 60px;
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        color: #55BDB3;
        border-color: #55BDB3;
        margin-right: 90%;
        margin-left: 10%;
        align-self: center;
      }
