<form action="{% url 'result' %}" method="post">
    {% csrf_token %}
    관람 연령을 선택하세요.<br><br>
    <button type="submit" name="age" value=0>전연령</button>
    <button type="submit" name="age" value=4>4세 이상</button>
    <button type="submit" name="age" value=6>6세 이상</button>
    <button type="submit" name="age" value=8>초등학생 이상</button>
    <button type="submit" name="age" value=12>12세 이상</button>
    <button type="submit" name="age" value=15>15세 이상</button>
    <button type="submit" name="age" value=18>18세 이상</button>
    
</form>